<div style='text-align: center;margin-top: 60px;'>
  <form name="input" action='/create_account' method="post">
    Username: <input type="text" name="user"><br>
    Password: <input type="password" name="password"><br>
    Email: <input type="text" name="email"><br>
    <input type="submit" value="Submit">
  </form>
</div>
